NEXT_PUBLIC_URL=http://localhost:3000
NEXT_PUBLIC_DOMAIN=example.com
NEXT_PUBLIC_SCHEME=https://
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_XXX
NEXT_PUBLIC_PLATFORM_AGENY_PERCENT=0.1
NEXT_PUBLIC_PLATFORM_SUBSCRIPTION_PERCENT=0.1
NEXT_PUBLIC_PLATFORM_ONETIME_FEE=199
NEXT_PLURA_PRODUCT_ID=prod_XXX
STRIPE_SECRET_KEY=sk_test_XXX
STRIPE_WEBHOOK_SECRET=whsec_XXX
STRIPE_WEBHOOK_SECRET_LIVE=
NODE_ENV=development
